body {
    font-family: 'Poppins', sans-serif;
}

.banner-img{
    background-image: url("../images/banner.png");
    height: 100vh;
    background-repeat: no-repeat;
    display: cover;
    
}
p {
    color: #777777;
}
